{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="page-atividade">
    <div class="content">
        <h2> Atividade ({{ Classe.idioma }}: Turma {{ Classe.turma }})</h2>

        <form method="POST" action="{% url 'classes:atividades_create' Classe.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="conteudo">Selecione o arquivo:</label>
            <input type="file" name="conteudo" id="conteudo" accept="application/pdf">
            <button type="submit">Enviar</button>
        </form>

        <p><a href="{% url 'classes:atividades_index' Classe.id %}">Voltar para a seção de atividades da classe</a></p>
    </div>
</div>
{% else %}
  <p>Você não está logado.</p>
  <br>
  <a href="{% url 'accounts:login' %}" class="botaozinho">Faça login aqui</a>
{% endif %}
{% endblock content %}
