{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="page-mensagem">
    <div class="content">
        <h2>Mensagem ({{ Classe.idioma }}: Turma {{ Classe.turma }})</h2>
        <form method="post">
            {% csrf_token %}
            <label for="conteudo">Conteúdo:</label>
            {{ form.conteudo }}
            
            <button type="submit">Postar Mensagem</button>
            <p><a href="{% url 'classes:atividades_index' Classe.id %}">Voltar para o mural</a></p>
        </form>
    </div>
</div>
{% else %}
  <p>Você não está logado.</p>
  <br>
  <a href="{% url 'accounts:login' %}" class="botaozinho">Faça login aqui</a>
{% endif %}
{% endblock content %}
