{% extends 'base.html' %} {% block content %}
{% if user.is_authenticated %}
<h2>Novo Baralho</h2>
<form method="POST" action="{% url 'classes:create_flashcards' Classe.id %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Criar</button>
</form>
<p><a href="{% url 'classes:flashcards' Classe.id %}">Voltar para a seção de flashcards</a></p>
{% else %}
  <p>Você não está logado.</p>
  <br>
  <a href="{% url 'accounts:login' %}" class="botaozinho">Faça login aqui</a>
{% endif %}
{% endblock content %}