{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flashcards-page">
  {% if user.is_authenticated %}
    <nav class="nav-classe">
      <a href="{% url 'classes:mural' Classe.id %}">Mural</a>
      <a href="{% url 'classes:flashcards' Classe.id %}" class="active">Flashcards</a>
      <a href="{% url 'classes:atividades_index' Classe.id %}">Atividades</a>
    </nav>
    <hr class="page-break">

    <section>

        <section class="lista-de-cards">
          {% for Deck in Deck_list %}
          <article class="card">
            <a href="{% url 'classes:cards' Deck.id %}">
              <img src="{{ Classe.poster_url }}" alt="Poster do {{ Classe.idioma }}" />
            </a>
            <p><strong>{{ Deck.nome }}</strong></p>
            <p><strong>{{ Deck.n_cartoes }} cards</strong></p>
            <p>{{ Deck.idioma }}</p>
            <p>{{ Deck.n_dominados }} dominados</p>
            <p>{{ Deck.n_aprender }} a dominar</p>
            <div class="acoes">
              <a class="editar">Editar Deck</a>
              <a href="{% url 'classes:delete_flashcards' Classe.id Deck.id %}" class="apagar">Apagar Deck</a>
            </div>
          </article>
          {% endfor %}
          {% if user.tipo == 1 %}
          <article class="card">
            <a href="{% url 'classes:create_flashcards' Classe.id%}">
              <div class="card-image-wrapper">
                <img src="{% static 'Plus_square_1.png' %}" alt="Imagem adicionar deck" />
              </div>
              <div class="card-content">
                <p><strong>Criar novo Deck</strong></p>
              </div>
            </a>
          </article>
          {% endif %}

        </section>


  {% else %}
    <p>Você não está logado.</p>
    <br>
    <a href="{% url 'accounts:login' %}" class="botaozinho">Faça login aqui</a>
  {% endif %}
</div>
{% endblock content %}
